body {
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ebe4e4;
    padding-top: 20px;
    font-size: 2.5em;
}

img {
    display:block;
    max-width: 900px;
    width: 90%;
    margin: 0px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

}
h2 {
    color: #ede7e7;
    max-width: 900px;
    margin: 2rem auto 1rem auto;
    padding: 0 1rem;

}

ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem;
    list-style-type: none;
}

li {
    background-color: #222;
    border-left: 3px solid #fffcfc;
    padding: 0.8rem 1rem;  
    margin-bottom: 0.5rem;  
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

p {
    max-width: 900px;
    margin: 0 auto 1.5rem auto;
    padding: 0 1rem;
    line-height: 1.6;
    color: #ccc;
}

.menu a {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: #0d0d0d;
    padding: 1rem;
    border-bottom: 2px solid #333;
    flex-wrap: wrap;
}

.menu a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #ffffff;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: #0d0d0d;
  padding: 1rem;
  border-bottom: 2px solid #e4e1e1;
}

.selector label {
  color: #eee;
  font-weight: bold;
}

.selector select {
  background-color: #222;
  color: #eee;
  border: 1px solid #efe7e7;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.menu a:hover {
    background-color: #ffffff;
}   